
# Created by https://www.gitignore.io/api/text,code,pycharm,database

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/
tsconfig.json
jsconfig.json

### Database ###
*.accdb
*.db
*.dbf
*.mdb
*.pdb
*.sql
*.sqlite3

### Text ###
*.doc
*.docx
*.log
*.msg
*.pages
*.rtf
*.txt
*.wpd
*.wps

# text
token.txt
PiPiLog.txt

# Some test stuf
json_mess_around.py
todo.db


# End of https://www.gitignore.io/api/text,code,pycharm,database
